.taskSegment {
    padding: 3px 10px !important;
}

.todoListTask {
    display: flex;
    align-items: center;
    position: relative;
    padding: 5px;
}
.list {
    white-space: normal;
}

.listCard {
    display: block;
    max-width: 250px;
    min-height: 20px;
    position: relative;
    text-decoration: none;
    z-index: 0;
}

.task {
    clear: both;
    display: block;
    margin: 0 8px;
    overflow: hidden;
    text-decoration: none;
    word-wrap: break-word;
    color: #172b4d;
}

.todoListTask input {
    margin: 0 10px;
}

.editBlock {
    position: absolute;
    right: 0;
}
.priority {
    margin: 0 35px 0 0;
}
.complete {
    text-decoration: line-through;
}