.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.loginFormItem {
    clear: both;
    margin: 0 0 1em;
}
.formBody:only-child {
    width: 100%;
}
.loginSegment {
    padding: 1em 1em !important;
}