.todoList {
    position: relative;
    width: 350px;
    margin: 10px 10px 5px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 3px;
}

.cardList {
    background-color: #2185d0 !important;
}

.todoListHeader {
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    height: 50px;
}

.addTaskSegment {
    padding: 3px 10px !important;
}

.todoListDelete {
    position: absolute;
    top: 5px;
    left: 5px;
}

.todoList > div {
    padding: 10px;
}

.editBlock {
    margin: 10px 0;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}