.todoList {
    position: relative;
    width: 300px;
    margin: 5px 5px;
    box-sizing: border-box;
}
.todoListHeader {
    text-align: center;
}

.addTaskSegment {
    padding: 3px 10px !important;
}

.todoListDelete {
    position: absolute;
    top: 5px;
    left: 5px;
}

.todoList > div {
    padding: 10px;
}
.editBlock {
    margin: 10px 0;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}