.todoListHeader__title {
    margin: 10px;
}
.todoListHeader__title h3 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 5px;
}
.todoListHeaderDelete {
    position: absolute;
    top: 0;
    left: 0;
}

