.App {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient( 109.6deg,  rgba(102,203,149,1) 11.2%, rgba(39,210,175,1) 98.7% );
    height: 100vh;
}

.headerTitle {
    margin:20px 0 50px 20px;
    color: white;
}

.containerInput {
    width: 50%;
}
.containerList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
}

i.icon {
    cursor: pointer;
    opacity: 0.5;
}

i.icon:hover {
    opacity: 0.9;
}

.ui.segment {
    padding: 3px 10px;
}

.ui.button {
    margin-left: 10px;
}

.ui.message {
    cursor: pointer;
}

.ui.inverted.blue.segment {
    background-color: #2185d0 !important;
    color: #fff !important;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}