.App {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    background: #EB3349;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F45C43, #EB3349);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F45C43, #EB3349); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.headerAuth {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #536d6c;
    height: 40px;
    text-align: center;
    color: #eeffee;
}

.containerAddTodo {
    width: 300px;
    margin: 10px 5px;
}
.containerList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.ui.buttons {
    margin: 0 10px 0 0;
}

.ui.message {
    cursor: pointer;
}

.ui.inverted.blue.segment {
    background-color: #2185d0 !important;
    color: #fff !important;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}