.App {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #4BBF6B;
    min-height: 100vh;
}
.addTodoList {
    background: hsla(0, 0%, 100%, 0.32) !important;
    color: #eeffee !important;
    height: 40px;
    cursor: pointer;
}
.addTodoList:hover {
    background-color: #2185d0 !important;
}
.headerAuth {
    display: flex;
    justify-content: center;
    background-color: #40A35B;
    height: 40px;
    text-align: center;
    color: #eeffee;
}

.containerAddTodo {
    width: 300px;
    margin: 5px 5px;
}
.containerList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

i.icon {
    cursor: pointer;
    opacity: 0.5;
}

i.icon:hover {
    opacity: 0.9;
}

.ui.buttons {
    margin: 0 10px 0 0;
}

.ui.message {
    cursor: pointer;
}

.ui.inverted.blue.segment {
    background-color: #2185d0 !important;
    color: #fff !important;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}